doctype html
html
  head
    title Penguin test page
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
  body
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas commodi, sed modi ab accusamus. Atque provident deserunt praesentium ratione, saepe officia ut sunt hic vero quas debitis, optio doloribus.
    span(data-component='Inplace' data-props='{"field":"my-first-field"}') My first editable content
    button(data-component='SaveButton') Save

    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
      li(data-target='#carouselExampleIndicators', data-slide-to='1')
      li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg', alt='First slide')
      .carousel-item
        img.d-block.w-100(src='https://www.pets4homes.co.uk/images/articles/771/large/cat-lifespan-the-life-expectancy-of-cats-568e40723c336.jpg', alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='http://www.catprotection.com.au/wp-content/uploads/2014/11/5507692-cat-m.jpg', alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')